<%= form_with(model: @account, data: {turbo: false}) do |form| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>
      <ul>
        <% @account.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: 'account_name' %>
  </div>

  <div class="field">
    <%= form.label :vat %>
    <%= form.text_field :vat, id: 'account_vat', value: 'EL' %>
    <button type="button" id="vat_lookup_button">🔎</button>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: 'account_city' %>
  </div>

  <div class="field">
    <%= form.label :zipcode %>
    <%= form.text_field :zipcode, id: 'account_zipcode' %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: 'account_address' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>